@import url("style/header.css");
@import url("style/footer.css");
@import url("style/bg.css");
@import url("style/our-service.css");
@import url("style/portfolio.css");
@import url("style/slider.css");
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Lato", verdana, sans-serif;
  overflow-x: hidden;
}
main {
  margin-top: 95px;
}
